{% load static %}
<div class="menu">
    <div class="navbar mt-2">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="nav-brand-text bold-text">Swift AI</span>
                <img src="{% static 'images/4209390.png' %}" alt="Tech Sphere logo" width="100" height="100" style="padding-bottom: 15px">
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="" class="nav-link fw-bold fs-6">About us</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link fw-bold fs-6">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>