body {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("../images/2023-05-24 20.13.42.jpg");
}


h1, h2, h3, h4, h6 {
    font-weight: 700 !important;
}


header {
    margin-bottom: 60px;
}


header .menu .logo {
    margin-top: 10px;
}

header .menu {
    height: 100px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -8px;
    background-color: #ffffff;
}

.menu .nav-brand-text {
    color: #000 !important;
    font-size: 2rem !important;
    margin-left: 120px !important;
}

.robot-img {
    width: 1100px;
    object-fit: cover;
    position: absolute;
    top: 110px;
    left: 400px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.menu .nav {
    margin-right: 120px;
    margin-bottom: 20px
}

.menu .nav-link {
    color: #000;
    font-size: 1.3rem !important
}

.white-section {
    background-color: white;
    padding: 20px;
}


header .header-title-sec {
    font-size: 4em;
    color: #ffffff;
    font-weight: 500;
}

header .header-info {
    font-size: 1.8rem;
    color: #ffffff;
    margin-top: 3rem;
}

header .join {
    justify-content: center;
    margin-bottom: 30px;
}

.wrapper {
    /*max-width: 1200px;*/
    margin: auto;
}

header .wrapper .join {
    margin-top: 50px;
}


.
.bold-text {
    font-weight: 700 !important;
}

.navbar .nav-brand-text {
    color: #ffffff;
    font-size: 21px;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.text-white {
    color: #ffffff !important;
}


.fs-5 {
    padding-left: 3rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.pe-2 {
    padding-right: 2rem !important;
}

.ps-md-0 {
    padding-left: 0 !important;
}

.ms-md-3 {
    margin-left: 1rem !important;
}


.pe-0 {
    padding-right: 0 !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.card-header .card-full-text {
    font-size: 1.25rem !important;
}

.content-wrapper {
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
}

.fs-6 {
    font-size: 1rem !important;
}

.fs-3 {
    font-size: 1.2rem !important;
}

.justify-content-start {
    justify-content: start;
}

.modal-header {
    border-bottom: none !important;
}

.text-center {
    text-align: center !important;
}

.pb-2 {
    padding-bottom: 1.5rem !important;
}

.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 1rem;
    color: red !important;
    font-weight: 400 !important;
}

.comment img {
    max-width: 300px !important;
}

.profile-img {
    margin-left: 20px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
}